.username{
    min-width: 300px;
}
.lists{
    padding: 25px;
    margin: 15px;
}
.head{
    padding-top:50px ;
    text-align: center;
    color: rgb(226, 31, 96);
   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.action-link{
    padding: 50px;
    text-decoration: none;
    color: blue;
}
.list-user{
    margin: 10px;
    text-align: left;
    background-color: rgb(196, 240, 225);
    color: blue;
}