<div *ngIf="dataLoaded">
    <mat-card class="edit-card">
        <mat-card-title>Edit New User</mat-card-title>

    
<form [formGroup]="edituserForm" (submit)="UpdateUser()">
    
      <p>
        <mat-form-field appearance="outline">
          <mat-label>username</mat-label>
          <input matInput placeholder="name" formControlName="username">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Email Address</mat-label>
           <input matInput placeholder="email" formControlName="email">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
      </p>
      <p>
        <button mat-raised-button color="primary">Update User</button>
      </p>
 
</form>
</mat-card>
</div>
